<div class="parchment-background">
  <div class="consulta-layout">
    <h1 class="tavernatibiana-title">Bem-vindo à Taverna Tibiana</h1>
    <form class="parchment-card" (ngSubmit)="login()">
      <h2>Juramento de Entrada</h2>
      <hr />
      <div *ngIf="erro" class="login-error">{{ erro }}</div>
      <div class="input-icon-group">
        <img src="assets/wizard.svg" alt="Email" class="svg-icon" />
        <input
          id="email"
          class="input-medieval"
          type="email"
          [(ngModel)]="email"
          name="email"
          placeholder="Email mágico"
          required
        />
      </div>
      <div class="input-icon-group">
        <img src="assets/key-skills.svg" alt="Senha" class="svg-icon" />
        <input
          id="password"
          class="input-medieval"
          type="password"
          [(ngModel)]="password"
          name="password"
          placeholder="Palavra-passe da Irmandade"
          required
        />
      </div>
      <button
        class="button-medieval"
        type="submit"
        [disabled]="carregando || !email || !password"
      >
        Adentrar a Taverna
      </button>
      <div class="login-links">
        <a routerLink="/register" class="medieval-link">Alistar-se na Guilda</a>
        <span class="medieval-link-sep">|</span>
        <a routerLink="/forgot-password" class="medieval-link"
          >Esqueceste teu juramento?</a
        >
      </div>
      <div *ngIf="carregando" class="svg-loader-overlay">
        <div class="svg-loader">
          <!-- Loader SVG permanece igual -->
          <svg
            fill="#000000"
            height="80px"
            width="80px"
            viewBox="0 0 452.022 452.022"
          >
            <g id="SVGRepo_iconCarrier">
              <path d="..." />
            </g>
          </svg>
        </div>
      </div>
    </form>
  </div>
</div>
